# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /Rugs-Kaouds/
	#RewriteBase /
	#RewriteCond %{SERVER_PORT} 80
	#RewriteRule ^(.*)$ https://rugsnc.com/$1 [R,L]
	
	RewriteRule (wp/.*) $1 [L]
    #RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>
